* , *::before , *::after {
box-sizing: border-box;
font-family: Roboto,Arial,sans-serif;
}

body {
    margin:0;
    padding: 0;
    position: relative;
    background-color: rgba(255,255,255,.8);
}

.material-symbols-outlined{
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:3rem;
    margin-top: .5rem;
}

#menu {
    margin-left: 15px;
    margin-top:5px;
}

.logo {
   position: absolute;
   left:60px;
   width: 100px;
   height: auto;
   margin-right: 55rem;
   cursor:pointer;
}

.search {
    display: flex;
    margin:0
}

.searchbar {
    width:40em;
    height:2.3rem;
    margin-top: .5rem;
    
}

.search-button{
    width: 3.6rem;
    height:2.3rem;
    margin-top: .5rem;
    cursor:pointer;
}

.menu {
   padding:1rem;
   margin-right: 100px;
   border:3px black solid;
}

.top-right {
    width: 6.5rem;
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}

.videos {
    display: flex;
    flex-direction: column-reverse;
    align-content: space-between;
}

.video-section-right {
    position:absolute;
    top:60px;
    width: 87%;
    border: 5px red solid;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 3rem 1.5rem;
    padding: 3rem 1rem;
    margin: 1.5rem 0rem 1.5rem 11rem;
    border-top: solid #555 3px;
   
}

.video-section-left {
    border: 5px red solid;
    width:9%;
}

.menu-item {
    width:10px;
    padding:.5rem
}
.video-section:first-child {
    border-top: none;
}
    
.video-container {
    display: flex;
    flex-direction: column;
}

.thumbnail {
    position: relative;
    display: flex;
    width: 250px;
    height: 150px;
    background-color: #AAA;
}

.video-bottom-section {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
}
.channel-icon{
    margin-right: 10px;
    background-color: #AAA;
    border-radius: 300px;
}

.video-details {
    display: flex;
    flex-direction: column;
}

.video-title {
    color:black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    margin: 7px auto;
}

.channel-name {
    text-decoration: none;
    margin-bottom: 4px;
    max-width: fit-content;
    transition: color 120ms;
}

.channel-name:hover {
    color:whitesmoke;
}

.channel-name, .video-metadata {
    color:#555;
}

.music {
    display:flex;
    grid-column: 1 / -1;
    margin: -.5rem 0.5rem;
    color:black;
}